
<div class="container">
  <div class="m-5 justify-content-center text-center">
    <div class="btn aqua-gradient btn-rounded btn-sm my-0">
      <%= form_tag trips_path, class:"d-flex", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control me-2",
          placeholder: "Find a trip"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <h1 style="font-family: 'Koulen';">Available Trips</h1>
  </div>
  <h1><%= link_to 'New Trip', new_trip_path, class:"btn btn-primary" %></h1>
  <div class="row" style= "margin: 1em">
    <% @trips.each do |trip| %>
      <% if trip.number_of_passengers - trip.passengers_count > 0 %>
        <div class="col-12 col-lg-3 card">
          <div class="card-body">
            <h3 class="card-title">From: <%= trip.starting_point %></h3>
            <h3 class="card-title">To: <%= trip.end_point %></h3>
            <ul>
              <li>NºPassengers: <%= trip.number_of_passengers %></li>
              <li>Start time: <%= trip.departure_time %></li>
              <li>Available seats: <%= trip.number_of_passengers - trip.passengers_count %></li>
            </ul>
            <h5>Driver:</h5>
            <p><%= trip.user.first_name %> <%= trip.user.last_name %></p>

            <div style="width: 100%; height: 300px;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= [{lat: trip.latitude, lng: trip.longitude}].to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

            <% if policy(trip).show? %>
            <%= link_to 'More Info', trip, class: "btn btn-primary"%>
            <% end %>
            <% if policy(trip).edit? %>
              <%= link_to 'Edit', edit_trip_path(trip), class: "btn btn-secondary"%>
            <% end %>
            <% if policy(trip).destroy? %>
              <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
            <% end %>
            <% if !policy(trip).edit? %>
              <%= link_to 'Book', new_trip_booking_path(trip), class: "btn btn-secondary"%>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
