<h1>My bookings</h1>
<div class="row">
  <% @bookings.each do |booking| %>
    <div class="col-12 col-lg-3 card">
      <div class="card-body">
        <h2 class="card-title">Status: <%= booking.status %></h2>
        <h3 class="card-title">From: <%= booking.trip.starting_point %></h3>
        <h3 class="card-title">To: <%= booking.trip.end_point %></h3>
        <ul>
          <li>NºPassengers: <%= booking.passengers %></li>
          <li>Start time: <%= booking.trip.departure_time %></li>
        </ul>
        <h5>Driver: <%= booking.trip.user.first_name %> <%= booking.trip.user.last_name %> </h5>
        <% if policy(booking).edit? %>
          <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-secondary"%>
        <% end %>
        <% if policy(booking).destroy? %>
          <%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
